/* Table cells */
.table-drag-select td {
  text-align: center;
  /* Cut off long strings of text with ... */
  text-overflow: ellipsis;
  overflow: hidden;
  /* Make transparent gaps between cells. Better than relying on margin
   * because clicking an element's margin doesn't trigger events */
  border: 0.1rem solid rgb(218, 218, 218);
  background-clip: padding-box;
  /* Make cells reasonable size */
  line-height: 1rem;  
  /* Shows more text when text too big to fit into cell */
  padding-left: 0rem;
  padding-right: 0rem;
}

/* Cells that can be interacted with */
.table-drag-select td.cell-enabled {
  color: #806E52;
  background-color: #eeeeee;
}

/* Cells that cannot be interacted with */
.table-drag-select td.cell-disabled {
  background-color: #686868;
  
}

/* Cells that have been selected */
.table-drag-select td.cell-selected {
  background-color: #65dd75;
}

/* Cells that are in the process of being selected */
.table-drag-select td.cell-being-selected {
  background-color: #bfdfc3;
}

/* Cells in first row */
.table-drag-select tr:first-child td {
  /* Remove empty space at top of table */
  /* border-top: 0; */
  line-height: 1rem;
  background-color: #ffffff;
}

/* Cells in first column */
.table-drag-select td:first-child {
  /* Consume less whitespace */
  width: 3rem;
  background-color: #ffffff;
}